a{color:#a600ff;} 
a:hover{color:#ff8585;} 
.auth-wrapper {
    position: relative; /* เพิ่ม position relative เพื่อให้ .circles อยู่ด้านหลัง */
    height: 100vh;
    background-color: #ff8585; 
    background: linear-gradient(-45deg, #a600ff, #ff8585);
    background-attachment: fixed;
    background-size: cover;
    height: calc(var(--vh, 1vh) * 100);
    }
.btn:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 0.3s;
  outline: none;
  text-decoration: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.btn-primary{
      background:linear-gradient(-45deg,#a600ff,#ff8585);
  transition: all .5s ease-out;
}
.btn-primary:hover{
      background:linear-gradient(-45deg,#ff8585,#a600ff);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #ff8585;
  border-color: #a600ff;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}
.form-control:focus {
    border-color: #a600ff;
    box-shadow: 0 0 0 0.2rem rgba(166, 0, 255,0.25);
    pointer-events: auto; /* ให้แน่ใจว่าฟิลด์ input สามารถคลิกได้ */
    display: block; /* ให้แน่ใจว่าฟิลด์ input แสดงอยู่ */
    visibility: visible; /* ให้แน่ใจว่าฟิลด์ input มองเห็นได้ */
}
 .text-xs {
    font-size: .75rem;
    }
/*remove third party custom style*/
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* ทำให้ .circles อยู่ด้านหลัง */
    pointer-events: none; /* ทำให้ไม่รับการคลิก */
}



  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;  
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
 
 
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
 
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
 
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
 
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
 
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
 
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
 
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
 
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
 
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
  @keyframes animate {
 
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
 
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
 
}
